/**
* Clear flow after floating elements
*
* @section clearing
* @valid yes
*/

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clear {
    clear: both;
    font-size: 0;
    height: 0;
    line-height: 0;
}

.clear-left {
    clear: left;
}

.clear-right {
    clear: right;
}