@font-face {
    font-family: 'Comic Sans MS';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/ComicSansMS.ttf') format('truetype');
}

@font-face {
    font-family: 'Impact';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/Impact.ttf') format('truetype');
}

@font-face {
    font-family: 'Arial Black';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/ArialBlack.ttf') format('truetype');
}